---
import Layout from "../layouts/Layout.astro";

export interface Property {
	ID: string,
	Description: string,
	Image: Array<Image>,
	Address1: string,
	Address2: string,
	Status: string,
	PriceString: string,
	TotalBedrooms: number,
	Bathrooms: number,
	InternalLettingStatus: string,
	InternalSaleStatus: string
}

export interface Image {
	Filepath: string
} 
---

<Layout>

	<h1>Welcome to Jacobs</h1>

</Layout>
	
