---
import Icon from "astro-icon"
---


<a class="flex flex-col items-center" href="">
  <div class="flex items-center justify-center relative rounded-full w-16 h-16 bg-jacobs2 saturate-50">
    <img class="absolute -left-3" src="transparent.png" alt="">
  </div>
  <h4 class=""><strong>Transparent</strong><br>Services</h4>
  <p class="flex items-center text-sm font-bold text-jacobs">Find out more <Icon class="w-3" name="fe:arrow-right"/></p>
</a>