---

---

<a href="" 
  class="hidden font-medium border-jacobs border-[3px] rounded-sm text-jacobs px-4 py-1 text-xl min-w-40 
  duration-150 lg:block lg:text-xl hover:bg-jacobs hover:text-slate-50">
  Contact Us
</a>