---
import Logo from "./Logo.astro";
import Navigation from "../Header/Navigation.astro";
import ContactUs from "./ContactUs.astro";
---

<header class="flex justify-between items-center px-4 py-2 md:px-8 md:py-4 lg:px-16">
    <Logo />
    <div class="flex gap-12">
        <Navigation />
        <ContactUs />
    </div>  
</header>