---
  const navItems = [
    {
      text: "Buying",
      link : "/for-sale"
    },
    {
      text: "Renting",
      link : "/for-rent"
    },
    {
      text: "Selling",
      link : "/"
    },
    {
      text: "Landlords",
      link : "/"
    },
  ]
---

{navItems.map(item => (

  <li class="text-jacobs underline-offset-8 underline decoration-transparent decoration-2 duration-150 uppercase hover:decoration-jacobs">
    <a href={item.link} class="py-6">
      {item.text}
    </a>
  </li>

))}
